/* add your CSS here */
img {
width: 300px;
}
.animal-info {
  font-style:italic;
 
  
}
.items {
font-weight:bold;
}
ul {
list-style: none;
  text-align:left;
}
#container {
width: 300px;
   border: 1px solid #ccc;
   background-color: #fff;
   padding: 3px 15px;
   margin: 10px auto;
   box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
  
}
#card {
  border: 2px solid gainsboro;
  padding: 10px;
  font-family: Verdana;
  border-radius: 7px;
  font-size: 15px;
  text-align: justify;

}
